@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #f857a6, #ff5858);
  color: #f8f8ff;
  font-family: 'Just Another Hand', cursive;
}

input {
  width: 100%;
  border-bottom: 1px solid #dcdcdc !important;
  outline: none;
  border: none;
  background: none;
  font-size: 22px;
  color: #DCDCDC;
  margin-top: 5px;
  text-indent: 10px;
  font-family: 'Just Another Hand', cursive;
}

input::placeholder {
  color: #DCDCDC;
  font-family: 'Just Another Hand', cursive;
}

/*-------------------------header----------*/
header {
  text-align: center;
  margin: 10px 0 30px 0;
}

header h1 {
  font-size: 50px;
}

/*--------------------------header end---------------*/
.container {
  width: 768px;
  max-width: 90%;
  margin: 0 auto;
}

/*----------------------------income-------------------*/
.income {
  margin-bottom: 35px;
}

.income p {
  font-size: 30px;
}

/*----------------------------income end-------------------*/
/*----------------------expense--------------------*/
.expenses {
  margin-bottom: 50px;
}

.expenses p {
  font-size: 30px;
}

.expenses input:first-of-type {
  margin-bottom: 20px;
}

.expenses .addBtn {
  display: block;
  background: #f8f8ff;
  color: #f857a6;
  cursor: pointer;
  width: 120px;
  margin: 15px auto 0 auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/*----------------------expense end--------------------*/
/*-----your calculation------------------------*/
.display-total {
  display: flex;
  justify-content: space-around;
}

.display-total div {
  text-align: center;
}

.display-total .icon i {
  font-size: 30px;

  margin-bottom: 10px;
}

.display-total span {
  font-size: 22px;
  color: #DCDCDC;
}

/*-----your calculation end------------------------*/
/*-----------------------your expenses------------*/

.myList {
  list-style: none;
  padding: 20px 0;
  margin-top: 50px;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

.myList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin: 20px 0;
}

.myList p {
  font-size: 22px;
}

.myList i {
  color: #DCDCDC;
}


/*-----------------------your expenses end------------*/
